<footer class="footer">
    <div class="contact-icons">
        <a class="link" href="mailto:bastilee@uoah.fr"><img class="icon" src="/images/icons8-email-48.png" alt="mail-icon"></a>
    </div>
    © 2023 Bastille L'Antre du Patou | All icons by <a class="link" href="https://icons8.com/">icons8</a>.
</footer>