<nav class="menu">
    <ul class="menu__list">
        <li class="menu__item {{ 'menu__item--active' if page.fileSlug === '' }}"><a class="menu__link" href="/">úvod</a></li>



        <li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'senzace' }}"><a class="menu__link" href="/senzace/">senzace</a></li>
        <li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'staje' }}"><a class="menu__link" href="/staje/">stáje</a></li>
        <li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'omne' }}"><a class="menu__link" href="/omne/">o mně</a></li>
        <li class="menu__item {{ 'menu__item--active' if page.fileSlug === 'odkazy' }}"><a class="menu__link" href="/odkazy/">odkazy</a></li>
    </ul>
</nav>